<!DOCTYPE html>
<html>
<head>
<title>Ecommerce AR</title>
<!--for carouser bootstrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!---->
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Women's Fashion Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="static/css/fasthover.css" rel="stylesheet" type="text/css" media="all" />

<!-- faizan -->
<link rel="stylesheet" href="static/css/main.css">
<!-- faizan -->

<!-- js -->
<script src="static/js/jquery.min.js"></script>
<!-- //js -->
<!-- countdown -->
<link rel="stylesheet" href="static/css/jquery.countdown.css" />
<!-- //countdown -->
<!-- cart -->
<script src="static/js/simpleCart.min.js"></script>
<!-- cart -->
<!-- for bootstrap working -->
<script type="text/javascript" src="static/js/bootstrap-3.1.1.min.js"></script>
<!-- //for bootstrap working -->
<!-- start-smooth-scrolling -->
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- //end-smooth-scrolling -->

<style>
.button {
    background-color: #0f05ff;
	border: none;
	border-radius: 30px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;
}
</style>
</head>
	
<body>
	<header>
			<!-- navbar cat -->


			  <div class="faiz">
					<center>	
						<h1 style="font-weight: 200"><a href="index.html"><span style="color:crimson" ><h1><strong>Project - for - you</strong></h1> </span></a></h1>
					</center>
					</div>
				




		</header>			
		

<!-- banner-bottom -->
	<div class="banner-bottom" id="prouctonsamepage">
		<div class="container">
			<div class="col-md-3 wthree_banner_bottom_left">
				<div class="video-img"></div>
			</div>
			<div class="col-md-9 wthree_banner_bottom_right">
				<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
					<ul id="myTab" class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home">Necklaces</a></li>
						<li role="presentation"><a href="#skirts" role="tab" id="skirts-tab" data-toggle="tab" aria-controls="skirts">Earrings</a></li>
						<li role="presentation"><a href="#watches" role="tab" id="watches-tab" data-toggle="tab" aria-controls="watches">Tiaras</a></li>
						<li role="presentation"><a href="#sandals" role="tab" id="sandals-tab" data-toggle="tab" aria-controls="sandals">Tops</a></li>
						<li role="presentation"><a href="#jewellery" role="tab" id="jewellery-tab" data-toggle="tab" aria-controls="jewellery">Goggles</a></li>
						<li role="presentation"><a href="#dresses" role="tab" id="dresses-tab" data-toggle="tab" aria-controls="dresses">Girls Kurti</a></li>
					</ul>
					
					<!--Necklaces -->
					<div id="myTabContent" class="tab-content">
						<div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
							<div class="agile_ecommerce_tabs">
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Necklace1/1.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Pendant</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.200</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Necklace1/1.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST', file_path='static,images,Necklace1,1.png') }}">Try it Now!</a></p>
										
									</div>
								</div>
								
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Necklace1/2.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Silver Necklace</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Necklace1/2.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Necklace1,2.png') }}">Try it Now!</a></p>
									</div>
								</div>

								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Necklace1/3.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Silver Necklace</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Necklace1/3.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Necklace1,3.png') }}">Try it Now!</a></p>
									</div>
								</div>
								
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Necklace1/4.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Silver Necklace</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Necklace1/4.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Necklace1,4.png') }}">Try it Now!</a></p>
									</div>
								</div>
								
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Necklace1/5.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Thread necklace</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.150</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Necklace1/5.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Necklace1,5.png') }}">Try it Now!</a></p>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						
						<!-- Earrings -->
						<div role="tabpanel" class="tab-pane fade" id="skirts" aria-labelledby="skirts-tab">
							<div class="agile_ecommerce_tabs">
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Earrings2/1.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal6-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Studs</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.100</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Earrings2/1.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Earrings2,1.png') }}">Try it Now!</a></p>
									</div>
								</div>
								
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Earrings2/2.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal6-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Goldwork earrings</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Earrings2/2.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Earrings2,2.png') }}">Try it Now!</a></p>
									</div>
								</div>
								
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Earrings2/4.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal6-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Goldwork earrings</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Earrings2/3.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Earrings2,3.png') }}">Try it Now!</a></p>
									</div>
								</div>

								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Earrings2/5.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal6-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Goldwork earrings</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Earrings2/4.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Earrings2,4.png') }}">Try it Now!</a></p>
									</div>
								</div>

								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Earrings2/6.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal6-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Goldwork earrings</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Earrings2/5.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Earrings2,5.png') }}">Try it Now!</a></p>
									</div>
								</div>

								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Earrings2/3.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal6-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Hangings</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Earrings2/6.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Earrings2,6.png') }}">Try it Now!</a></p>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						
						<!--Head gears-->
						<div role="tabpanel" class="tab-pane fade" id="watches" aria-labelledby="watches-tab">
							<div class="agile_ecommerce_tabs">
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Tiaras3/2.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal2-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Single Maang Tika</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Tiaras3/2.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Tiaras3,2.png') }}">Try it Now!</a></p>
									</div>
								</div>
								
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Tiaras3/3.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal2-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Tiara</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.125</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Tiaras3/3.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Tiaras3,3.png') }}">Try it Now!</a></p>
									</div>
								</div>

								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Tiaras3/5.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal2-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Tiara</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.125</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Tiaras3/5.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Tiaras3,5.png') }}">Try it Now!</a></p>
									</div>
								</div>
								
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Tiaras3/6.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal2-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Tiara</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.125</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Tiaras3/6.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Tiaras3,6.png') }}">Try it Now!</a></p>
									</div>
								</div>

								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Tiaras3/8.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal2-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Tiara</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.125</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Tiaras3/8.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Tiaras3,8.png') }}">Try it Now!</a></p>
									</div>
								</div>

								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Tiaras3/9.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal2-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Floral</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Tiaras3/9.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Tiaras3,9.png') }}">Try it Now!</a></p>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						
						<!-- Tops-->
						<div role="tabpanel" class="tab-pane fade" id="sandals" aria-labelledby="sandals-tab">
							<div class="agile_ecommerce_tabs">
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Tops4/12.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal3-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Top 1</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Tops4/12.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Tops4,12.png') }}">Try it Now!</a></p>
									</div>
								</div>
								
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Tops4/6.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal3-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Mens Tshirt</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Tops4/6.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Tops4,6.png') }}">Try it Now!</a></p>
									</div>
								</div>

								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Tops4/7.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal3-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Top 3</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Tops4/7.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Tops4,7.png') }}">Try it Now!</a></p>
									</div>
								</div>

								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Tops4/3.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal3-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Top4</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Tops4/3.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Tops4,3.png') }}">Try it Now!</a></p>
									</div>
								</div>

								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Tops4/5.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal3-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Top5</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Tops4/5.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Tops4,5.png') }}">Try it Now!</a></p>
									</div>
								</div>
								
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Tops4/shirt.jpg" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal3-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>top 6</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Tops4/4.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Tops4,4.png') }}">Try it Now!</a></p>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						
						<!--Goggles-->
						<div role="tabpanel" class="tab-pane fade" id="jewellery" aria-labelledby="jewellery-tab">
							<div class="agile_ecommerce_tabs">
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Sunglasses6/1.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal4-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Goggles</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Sunglasses6/1.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Sunglasses6,1.png') }}">Try it Now!</a></p>
									</div>
								</div>
								
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Sunglasses6/2.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal4-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Sun glasses</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.620</span> <i class="item_price">Rs.350</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Sunglasses6/2.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Sunglasses6,2.png') }}">Try it Now!</a></p>
									</div>
								</div>

								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Sunglasses6/4.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal4-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Sun glasses</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.200</span> <i class="item_price">Rs.150</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Sunglasses6/4.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Sunglasses6,4.png') }}">Try it Now!</a></p>
									</div>
								</div>
								
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Sunglasses6/5.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal4-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Sun glasses</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.570</span> <i class="item_price">Rs.350</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Sunglasses6/5.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Sunglasses6,5.png') }}">Try it Now!</a></p>
									</div>
								</div>

								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Sunglasses6/6.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal4-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Shades</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.220</span> <i class="item_price">Rs.150</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Sunglasses6/6.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Sunglasses6,6.png') }}">Try it Now!</a></p>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						
						<!--Dresses-->
						<div role="tabpanel" class="tab-pane fade" id="dresses" aria-labelledby="dresses-tab">
							<div class="agile_ecommerce_tabs">
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Frocks5/1.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal4-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Frock</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.270</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Frocks5/1.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Frocks5,1.png') }}">Try it Now!</a></p>
									</div>
								</div>
								
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Frocks5/2.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal4-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Customized top</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.220</span> <i class="item_price">Rs.450</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Frocks5/2.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Frocks5,2.png') }}">Try it Now!</a></p>
									</div>
								</div>

								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Frocks5/3.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal4-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Customized top</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.420</span> <i class="item_price">Rs.350</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Frocks5/3.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Frocks5,3.png') }}">Try it Now!</a></p>
									</div>
								</div>
								
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Frocks5/4.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal4-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Customized top</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.450</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Frocks5/4.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Frocks5,4.png') }}">Try it Now!</a></p>
									</div>
								</div>

								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Frocks5/5.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal4-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Light pink Top</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.520</span> <i class="item_price">Rs.250</i></p>
									<form ><p><input type=button onclick="addToCart('static/images/Frocks5/5.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Frocks5,5.png') }}">Try it Now!</a></p>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						
					</div>
				</div>
					<!--modal-video-->
					
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //banner-bottom -->

<center>
<button id= "check_out" align="center" class="button">Try & Checkout</button>
</center>
<script type="text/javascript">

	var CART = []
	
	function addToCart(product) {
		if(CART.indexOf(product) == -1){
			CART.push(product)
		}
		   alert("Product added to cart!")
	}
	
	function checkOut(){
		alert("Checking out....")
		return CART.join(' ')
	}
	
	function runPyScript(input){
		alert("Opening dressing room with webcam...")
		var jqXHR = $.ajax({
			type: "POST",
			url: "/tryall",
			async: false,
			data: { mydata: input }
		});
	
		return jqXHR.responseText;
	}
	
	$('#check_out').click(function(){
		alert("Get ready to try!")
		datatosend = CART.join(' ');
		result = runPyScript(datatosend);
	});
	</script>

<hr>

<br>
<hr>
</body>
</html>